<!DOCTYPE html>
<html>

<head>
  <title> Krypto</title>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    /* menu */
    ul {
      list-style-type: none;
    }

 

    /* main-menu */
    .header .main-menu {
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
    }


    .header .main-menu .sell-login {
      display: flex;

      justify-items: center;
    }


    /* secondary-menu */

    .header .secondary-menu .nav {
      display: flex;
      justify-content: space-around;
      position: relative;
    }

    .sub-menu-content {
      width: 100vw;
      position: absolute;
      display: none;
      top: 10px;
      left: 0;
      padding: 10px;
      margin-top: 10px;
      background-color: hsla(238, 96%, 78%, 0.58);

    }

    .header .secondary-menu .nav {
      display: flex;
      justify-content: space-around;
    }

    .cities:hover .sub-menu-content {
      display: flex;
    }

    .sub-menu-content ul {
      padding-left: 20px;
      padding-right: 20px;
    }

    .sub-menu-content ul div {
      background-color: hsl(261, 100%, 58%);
    }
  </style>
</head>

<body>

  <div class="header">
    <div class="main-menu">
      <div class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill="none">
            <path
              d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
            <path fill="currentColor"
              d="M20 18a1 1 0 0 1 .117 1.993L20 20H4a1 1 0 0 1-.117-1.993L4 18zm0-7a1 1 0 1 1 0 2H4a1 1 0 1 1 0-2zm0-7a1 1 0 1 1 0 2H4a1 1 0 0 1 0-2z" />
          </g>
        </svg>
      </div>
      <div class="logo">
        JamesEdition
      </div>
      <div class="sell-login">
        <div class="sell-with-us">

          <div class="button">
            Sell with us
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
              <path fill="currentColor"
                d="M10.103 12.778L16.81 6.08a.69.69 0 0 1 .99.012a.726.726 0 0 1-.012 1.012l-7.203 7.193a.69.69 0 0 1-.985-.006L2.205 6.72a.727.727 0 0 1 0-1.01a.69.69 0 0 1 .99 0z" />
            </svg>
          </div>

          <div class="mega-box">
            <div class="mega-link">Professional seller (Agent)</div>
            <div class="mega-link">Private seller (Owner)</div>
          </div>

        </div>
        <div class="login">
          <div class="login-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
              <path fill="currentColor"
                d="M16 4a5 5 0 1 1-5 5a5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7a7 7 0 0 0-7-7m10 28h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z" />
            </svg>
            login
          </div>

        </div>
      </div>
    </div>

    <div class="secondary-menu">
      <ul class="nav">

        <li class="cities">
          Alberton
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Alberton A1</li>
              <li>Alberton B1</li>
              <li>Alberton C1</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Alberton f2</li>
              <li>Flats Alberton r5</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Cape Town
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Alberton
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Cape Town
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        
        <li class="cities">
          Cape Town
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Alberton
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Cape Town
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Alberton
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Cape Town
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Alberton
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>
        <li class="cities">
          Cape Town
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>
        </li>
        <li class="cities">
          Alberton
          <div class="sub-menu-content">
            <ul>
              <div> Top surbus</div>
              <li>Claremont</li>
              <li>Newlands</li>
              <li>Observatory</li>
              <li>Paarl</li>
            </ul>
            <ul>
              <div> Property type</div>
              <li>House</li>
              <li>Flat</li>
              <li>Farm</li>
            </ul>
            <ul>
              <div> Top surbus</div>
              <li>Houses in Claremont</li>
              <li>Flats Newlands</li>
              <li>Houses Observatory</li>
              <li>Houses Paarl</li>
            </ul>
          </div>

        </li>

      </ul>
    </div>
  </div>


</body>

</html>